@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #223614;
  --color-secondary:#E5E0DA;
  --color-accent:#C2BFCB;
  --color-neutral:#7E7B46;
}

