@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
--color-primary: #23022E;   /* change based on palette */
  --color-secondary: #C3E8BD;
  --color-accent: #B796AC;
  --color-neutral: #B796AC;
}

